<!-- ======= Header ======= -->
<header id='header' class='header fixed-top d-flex align-items-center'>

    <div class='d-flex align-items-center justify-content-between'>
        <a href='getportfolio' class='logo d-flex align-items-center'>
            <span class='d-none d-lg-block'>Portfolio The Beatle</span>
        </a>
        <i class='bi bi-list toggle-sidebar-btn'></i>
    </div><!-- End Logo -->

    <div class='pagetitle'>
        <ul class='d-flex align-items-center'>
            <li class='nav-item d-block'>
                <nav>
                    <ol class='breadcrumb'>
                        <li class='breadcrumb-item'><a >Home</a></li>
                        <li class='breadcrumb-item active'>Dashboard</li>

                    </ol>
                </nav>
            </li>
        </ul>
    </div><!-- End Page Title -->

    <nav class='header-nav ms-auto'>
        <ul class='d-flex align-items-center'>

            <li class='nav-item d-block d-lg-none'>
                <a class='nav-link nav-icon search-bar-toggle' href='#'>
                    <i class='bi bi-search'></i>
                </a>
            </li><!-- End Search Icon-->

        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

            {{>profile}}

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->