<!DOCTYPE html>
<html lang='en'>
{{> head}}

<body>
    {{> header}}
    {{> sidebar}}
    <main id='main' class='main'>
        {{{body}}}
    </main><!-- End #main -->
    {{>footer}}
</body>

</html>