<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <a class="btn" href="/getportfolio">Back to home</a>
            <img src="assets/img/404.png" class="img-fluid py-5" alt="Page Not Found">
        </section>

    </div>
</main><!-- End #main -->